* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #ffcb6a;
  --color-secondary: #48138d;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey-1: #8a8a8a;
  --color-grey-2: #616161;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);
  --br-sm-2: 14px;
  --transition-main: all .4s ease-in-out;
}

body {
  background-color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: slateblue;
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: forestgreen;
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: maroon;
}

.active {
  display: block;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
}

.controls .active-btn i {
  -webkit-transition: var(--transition-main);
  transition: var(--transition-main);
  color: var(--color-white) !important;
}

.controls .control {
  padding: 1rem;
  background-color: var(--color-grey-2);
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-1);
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */